<link rel="import" href="../polymer/polymer-element.html" />

<link rel="import" href="../paper-toast/paper-toast.html" />


<dom-module id="copy-text">
	<template>
		<style>
			:host {
				display: inline-block;
			}

			:host(:not([copy-is-available])) {
				display: none;
			}

			:host,
			::slotted(*) {
				cursor: pointer; /* fallback */
				cursor: copy;
			}

			/* [hidden] attribute is used for a11y purpose but programmatic copy need a "visible" element */
			#copy-me {
				position: absolute;
				top: 0;
				left: -1000vmax;
				z-index: -1;
				display: block !important;
				width: 1px;
				height: 1px;
				margin: -1px;
				overflow: hidden;
				clip-path: inset(100%);
				opacity: 0;
			}
		</style>

		<template is="dom-if" if="[[copyIsAvailable]]">
			<slot>
				<button type="button">Copy</button>
			</slot>
		</template>

		<span id="copy-me" hidden>[[text]]</span>

		<paper-toast id="success" text="[[messageOnSuccess]]"></paper-toast>
		<paper-toast id="error" text="[[messageOnError]]" duration="10000"></paper-toast>
	</template>

	<script>
		/**
		 * Element that copy text (or current URL by default) then notify with a `paper-toast`
		 *
		 * If `copyIsAvailable` is `false` this displays nothing (no need to display something that won't work)
		 *
		 * @customElement
		 * @polymer
		 * @demo demo/index.html
		 */
		class CopyText extends Polymer.Element {
			static get is() {
				return 'copy-text'
			}


			static get properties() {
				return {
					/** Text to put in clipboard, by default current URL */
					text: {
						type: String,
					},

					/** Message that will appear in a `paper-toast` on success */
					messageOnSuccess: {
						type: String,
						value: 'Copied to clipboard',
					},
					/** Message that will appear in a `paper-toast` on error */
					messageOnError: {
						type: String,
						value: 'Error while copying to clipboard',
					},

					/** Determines whether the copy feature is available or not */
					copyIsAvailable: {
						type: Boolean,
						readOnly: true,
						reflectToAttribute: true,
						value: () => (
							'execCommand' in document
							&& 'queryCommandSupported' in document
							&& document.queryCommandSupported('copy')
						)
					},
				}
			}

			constructor() {
				super()

				this.addEventListener('click', this.copy)
			}


			/**
			 * Copy `text` (or current URL by default) then notify with a `paper-toast`
			 *
			 * @return {void}
			 */
			copy() {
				this.text = this.text || window.location.href

				const selection = window.getSelection()

				selection.removeAllRanges()
				const range = document.createRange()
				range.selectNode(this.$['copy-me'])
				selection.addRange(range)

				let successful
				try {
					successful = document.execCommand('copy')
				}
				catch (err) {
					successful = false
					console.warn('execCommand Error', err)
				}

				const toast = successful ? this.$.success : this.$.error
				toast.open()

				selection.removeAllRanges()
			}
		}

		window.customElements.define(CopyText.is, CopyText)
	</script>
</dom-module>
